---
import { Image } from "astro:assets";
import SupafanaTextLogo from "./supafana-text-logo.astro";
import SupafanaLogo from "./assets/logo.svg";
import ConnectSupabase from "./assets/connect-supabase-light.svg";
import Hamburger from "./hamburger.astro";
import ReactThemeController from "../ReactThemeController";
const links = [
  // { name: "Docs", href: "/docs" },
  { name: "Pricing", href: "/pricing" },
  { name: "Blog", href: "/blog" },
  { name: "Source", href: "https://github.com/fogbender/supafana" },
  // { name: "Enterprise", href: "/enterprise" },
];

const pathname = Astro.url.pathname;
---

<style is:global>
  .dark .nav-container-blur {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
  }

  .nav-container-blur {
    backdrop-filter: blur(12px);
    background-color: rgba(255, 255, 255, 85%);
  }
</style>
<div class="bg-transparent sticky top-0 z-20">
  <div
    class="nav-container-blur bg-white absolute z-[-1] h-full w-full shadow-[0_2px_4px_rgba(0,0,0,.02),0_1px_0_rgba(0,0,0,.06)] dark:shadow-[0_-1px_0_rgba(255,255,255,.1)_inset] dark:bg-black dark:contrast-more:shadow-[0_0_0_1px_#000] contrast-more:shadow-[0_0_0_1px_#fff]"
  >
  </div>
  <nav
    class="mx-auto flex h-16 max-w-[90rem] items-center justify-end gap-3 pl-[max(env(safe-area-inset-left),1.5rem)] pr-[max(env(safe-area-inset-right),1.5rem)]"
  >
    <a title="Home" data-astro-reload href="/" class="h-full mr-auto">
      <div class="h-full items-center flex mr-auto gap-x-4">
        <Image src={SupafanaLogo} alt="Supafana logo" width={22} height={22} loading="eager" />
        <SupafanaTextLogo className="mt-1 w-28 leading-0" />
      </div>
    </a>
    {
      links.map(link => {
        return (
          <a
            class="text-sm contrast-more:dark:text-gray-100 relative -ml-2 hidden whitespace-nowrap p-2 md:inline-block text-gray-400 hover:text-gray-200"
            aria-current="false"
            href={link.href}
          >
            <span
              class:list={[
                "absolute inset-x-0 text-center",
                { "underline": pathname === link.href },
              ]}
            >
              {link.name}
            </span>
            <span class="invisible font-medium">{link.name}</span>
          </a>
        );
      })
    }
    <a href="/dashboard" aria-current="false">
      <Image src={ConnectSupabase} alt="Connect Supabase" height="24" />
    </a>
    <div class="w-6 h-6">
      <ReactThemeController ssr={true} client:load />
    </div>

    <Hamburger className="md:hidden hamburger w-5 h-5" stroke="white" />
  </nav>
</div>
<script>
  document.addEventListener("landing-sidebar-toggle", () => {
    const hamburgerIcon = document.querySelector(".hamburger svg");
    hamburgerIcon?.classList.toggle("open");
  });
</script>
